<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~                       ######
  ~                       ######
  ~ ############    ####( ######  #####. ######  ############   ############
  ~ #############  #####( ######  #####. ######  #############  #############
  ~        ######  #####( ######  #####. ######  #####  ######  #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####  #####   #####  ######
  ~ ###### ######  #####( ######  #####. ######  #####          #####  ######
  ~ #############  #############  #############  #############  #####  ######
  ~  ############   ############  #############   ############  #####  ######
  ~                                      ######
  ~                               #############
  ~                               ############
  ~
  ~ Adyen Mirakl Connector
  ~
  ~ Copyright (c) 2018 Adyen B.V.
  ~ This file is open source and available under the MIT license.
  ~ See the LICENSE file for more info.
  ~
  -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="cucumber" thread-count="0" parallel="none" verbose="1">
    <test name="cucumber">
        <classes>
            <class name="com.adyen.mirakl.cucumber.CucumberTest" />
        </classes>
    </test>
</suite>
